# Byte-compiled / optimized / DLL files
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environments
.venv/
venv/
ENV/
env/

# IDE / Editor configuration
.vscode/
.idea/

# Local test outputs / html files
test_total.html
test_treemap.html
